/*estilos 404*/

.error-404 {
    padding: 40px 15px;
    text-align: center;
}
.error-botones {
    margin-top:15px;
    margin-bottom:15px;
}
.error-botones .btn {
     margin-right:10px; 
    }